@import '/src/assets/scss/reset.scss';
@import '/src/assets/scss/typography.scss';

body {
    min-height: 100vh;
    background-image: linear-gradient(to top,
            rgba(255, 255, 255, 0.9) 20%,
            rgba(255, 255, 255, 0.6) 30%),
        url('../images/hero/pexels-johannes-plenio-1103970.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    opacity: 10;
    z-index: -1;
    width: 100%;
}